<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <p>Use the interactive charts below to explore the dataset</p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="pull-left">
                    <div class="jumbotron" style="text-align: left">
                        <h3>SELECT Sample</h3>
                        <select id="selDataset" onchange="optionChanged(this.value)">
                        </select>
                    </div>
            <br>
                <div class="jumbotron" style="text-align: left">
                      <h3>Sample Metadata</h3>
                     <p id="sample_metadata"></p>
                </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <div id="pie"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
            <div id="bubble"></div>
            </div>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    </body>

    </html>
    